.customNavbar {

background-image: url("http://www.powerpointhintergrund.com/uploads/2017/06/navy-blue-backgrounds-wallpaper-cave-14.jpeg");
background-size: cover;
}

.customNav {
    background-color: rgba(145, 34, 34, 0.112)
}

/* */
.back {
    background-image: url("https://i.imgur.com/X3CPUeT.jpg");
    background-size: cover;
    height: 800px;
    
}


.boxWidth {
    width: 450px;
}

.posn{
    position: absolute;
    top: 200px;
    right: 60px;
    opacity: 0.5;
}

.displayMode {
    width: 400px;
    display: flex;
    flex-shrink: initial;
}

.posnOfIntro{
    top: 700px;
}

/* spacing of footer text from left */
.spacing {
    position: absolute;
    left: 10px;
}