/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
     background-color: #062477; 
     
  }
  
  
  .navyBlue {

    background-image: url("https://www.desktop-background.com/download/o/2011/04/27/194522_2560x1440-yankees-blue-solid-color-background-jpg_2560x1440_h.jpg");
    background-size: cover;
}


/* spacing of footer text from left */
.spacing {
  position: absolute;
  left: 20px;
}

/* spacing of right in footer from right */
.spacing2 {
  position: absolute;
  right : 20px;
  
}