
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
     background-color: #062477; 
     
  }
  
  
  .foot {

    background-image: url("https://www.xmple.com/wallpaper/plain-one-colour-single-blue-solid-color-1920x1080-c-0d0f16-f-24.svg");
    background-size: cover;
}


/* spacing of footer text from left */
.spacing {
  position: absolute;
  left: 20px;
}

/* spacing of right in footer from right */
.spacing2 {
  position: absolute;
  right : 20px;
  
}