.navyBlue {

background-image: url(" https://www.desktop-background.com/download/o/2011/04/27/194522_2560x1440-yankees-blue-solid-color-background-jpg_2560x1440_h.jpg");
background-size: cover;
}

/* */
.back {
    background-image: url("http://i.imgur.com/0uRqK.jpg");
    background-size: cover;
    height: 800px;
  
}
/*  http://i.imgur.com/0uRqK.jpg */
/* https://i.imgur.com/X3CPUeT.jpg */
.boxWidth {
    width: 450px;
}

.posn{
    position: absolute;
    top: 210px;
    right: 60px;
    opacity: 1;
    
}

.displayMode {
    width: 400px;
    display: flex;
    flex-shrink: initial;
}

.posnOfIntro{
    top: 700px;
}

/* spacing of footer text from left */
.spacing {
    position: absolute;
    left: 20px;
}
 
/* spacing of right in footer from right */
.spacing2 {
    position: absolute;
    right : 20px;
    
}