.navyBlue {

background-image: url(" https://www.xmple.com/wallpaper/plain-one-colour-single-blue-solid-color-1920x1080-c-0d0f16-f-24.svg");
background-size: cover;
}
.navyBlue1 {
    background-image: url(" https://www.xmple.com/wallpaper/plain-one-colour-single-blue-solid-color-1920x1080-c-0d0f16-f-24.svg");
    background-size: cover;
}

/* */
.back {
    background-image: url("https://99px.ru/sstorage/53/2016/04/tmb_161974_9398.jpg");

   background-size: cover;
    height: 800px;
  
}
.modalBack {
    background-image: url("http://kenikin.com/w/dark-blue-Wallpaper-Picture-number-au7.jpg");

    background-size: cover;
}
/*  http://i.imgur.com/0uRqK.jpg */
/* https://i.imgur.com/X3CPUeT.jpg 
http://kenikin.com/w/dark-blue-Wallpaper-Picture-number-au7.jpg
http://www.desktopimages.org/preview/get_photo/372503/2560/1600
*/
.boxWidth {
    width: 450px;
}

/* create a new sociungo account */
#introText {
    float: left;
    text-align: center;
}

/*  create a new sociungo account */

.posn{
    position: absolute;
    top: 210px;
    right: 60px;
   
    backface-visibility: visible;
}

#loginBox {
    opacity: 0.5;
    transition: opacity 1s; 
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.534);
    background-color: rgba(105, 3, 66, 0.911);
    border-radius: 80px 80px 80px 80px;
}
 
#loginBox:hover , #loginBox:focus-within {
  
  opacity: 0.9;
 
} 



.displayMode {
    width: 400px;
    display: flex;
    flex-shrink: initial;
}

.posnOfIntro{
    top: 700px;
}



@media (max-width: 600px ) {

    

}


/* MODAL BEGINS */
.modalX {
    display : none ;
    position: fixed;
    z-index: 1;
    left : 0 ;
    top : 0 ;
    height : 100%;
    width : 100% ;
    overflow: auto;
    background-color: rgba(2, 3, 5, 0.7) ;
  
    animation-name: modalOpen ; 
    animation-duration: 1s ;
}


.modal-contentX {
   
    background-color:rgb(192, 222, 228);
    margin : 10% auto ; 
     width : 50%; 
    box-shadow: 0px 0px 700px black;
    border-radius: 25px;
}

.closeBtn {
    color : rgb(190, 204, 214) ; 
    float : right ; 
    font-size: 30px;
    margin-right: 17px;
     
}

.closeBtn:hover, .closeBtn:focus {
    color: rgb(231, 225, 225) ; 
    text-decoration : none ;
    cursor: pointer;
}





@keyframes modalOpen {
 from {
     opacity: 0;
 }

 to {
    opacity: 1;
 }
}

.modal-headerX {
    padding : 15px;
    margin-bottom: 20px;
    background: hsl(208, 96%, 10%);
    box-shadow:0px 0px 10px rgba(27, 26, 26, 0.781) ;
    border-radius: 25px 25px 0px 0px;
}
.modal-bodyX {
    padding: 10px 20px;
}

.modal-footerX {
    margin-top: 15px;
    padding: 10px 18px;
    background: hsl(208, 96%, 10%);
    box-shadow: 0px 0px 100px rgba(27, 26, 26, 0.781) ;
    border-radius: 0px 0px 25px 25px ;
}

/* MODAL Component ends here */
