.customNavbar {

background-image: url("http://www.powerpointhintergrund.com/uploads/2017/06/navy-blue-backgrounds-wallpaper-cave-14.jpeg");
background-size: cover;
}

.customNav {
    background-color: rgba(145, 34, 34, 0.112)
}

/* */
.back {
    background-image: url("http://i.imgur.com/0uRqK.jpg");
    background-size: cover;
    height: 800px;
  
}
/*  http://i.imgur.com/0uRqK.jpg */
/* https://i.imgur.com/X3CPUeT.jpg */
.boxWidth {
    width: 450px;
}

.posn{
    position: absolute;
    top: 210px;
    right: 60px;
    
}

.displayMode {
    width: 400px;
    display: flex;
    flex-shrink: initial;
}

.posnOfIntro{
    top: 700px;
}

/* spacing of footer text from left */
.spacing {
    position: absolute;
    left: 20px;
}
 
/* spacing of right in footer from right */
.spacing2 {
    position: absolute;
    right : 20px;
    
}