.customNavbar {

    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/06/navy-blue-backgrounds-wallpaper-cave-14.jpeg");
    background-size: cover;
    
}

.customNavbar2 {
    background-color: rgb(139, 29, 29)
}

.back{
    background-image: url("http://i.imgur.com/0uRqK.jpg");
    background-size: cover;
}